html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
    background-color: #383838;
    color: azure;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    color: azure;
    width: fit-content;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    gap: 331px;
    justify-content: center;
}

.container--svg {
    display: flex;
    margin-right: 30px;
}

.container--logo {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    width: fit-content;
    margin-inline: auto;
    background: rgba(0, 0, 0, 0.59375);
    border-radius: 5px;
}

p {
    height: 4px;
}
