.animation_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.animation_projector {
    width: 40px;
    height: 40px;
    background-image: url(/animation/ph_film-reel.svg);
    background-size: cover;
    background-position: center;
    animation: moveProjector 200s infinite;
}

@keyframes moveProjector {
    0% {
        transform: translate(50%, 0) rotate(0deg);
    }
    60% {
        transform: translate(700%, 2300%) rotate(180deg);
    }
    100% {
        transform: translate(50%, 0) rotate(360deg);
    }
}

.animation_check {
    width: 40px;
    height: 40px;
    background-image: url(/animation/mdi_film-check.svg);
    background-size: cover;
    background-position: center;
    animation: moveCheck 100s infinite;
    float: left;
    margin-top: 500px;
}

@keyframes moveCheck {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    60% {
        transform: translate(1000%, 800%) rotate(180deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}

.animation_open {
    width: 40px;
    height: 40px;
    background-image: url(/animation/mdi_film-open-remove-outline.svg);
    background-size: cover;
    background-position: center;
    animation: moveopen 100s infinite;
    float: right;
}

@keyframes moveopen {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }
    60% {
        transform: translate(-1500%, 250%) rotate(180deg);
    }
    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}
