.header {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 110px;
    margin-inline: auto;
    list-style: none;
    padding: 0.2rem 1rem 0.2rem 4.8rem;
    background-color: #787878;
    border-radius: 10px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.navigation_text {
    display: flex;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
}

.navigation_img {
    transform: rotate(180deg);
    cursor: pointer;
}

.navigation_img__reverse {
    cursor: pointer;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    border-radius: 5px;
    border: #383838 solid 2px;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 150px;
}

.dropdown_content a:hover {
    background-color: #a0a0a0;
}
.show {
    display: block;
}

.navigation:hover {
    display: flex;
    gap: 110px;
    margin-inline: auto;
    list-style: none;
    padding: 0.2rem 1rem 0.2rem 4.8rem;
    background-color: #787878;
    border-radius: 10px;
    align-items: center;
}

.navigation_flex {
    display: flex;
}

.navigation_transform {
    transform: translate(46px, 3px);
}

.search_box {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.search_txt {
    border: none;
    background: none;
    outline: none;
    color: white;
    transition: 0.5s;
}

.search_txt::placeholder {
    color: #a0a0a0;
}

.search_svg {
    width: 18px;
    height: 20px;
}
