.input_registration {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    border: solid 1px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.59375);
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.59375);
    min-width: 150px;
    border-radius: 5px;
    border: #383838 solid 2px;
    z-index: 1;
    align-items: center;
    box-shadow: 1 0 0 46px rgba(412, 441, 394, 0.3);
}

.show {
    display: block;
    top: 33%;
    left: 40%;
}

.registration {
    display: flex;
    flex-direction: column;
}

.input_label {
    display: flex;
    flex-direction: column;
}

.input_logo {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.input_out {
    width: 40px;
    float: right;
    cursor: pointer;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
